*,*::before,*::after {
    margin: 50;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}



.slideshow-container {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.categories {
    display: flex;
    justify-content: center;
    gap: 125px;
    align-items: center;
    padding: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.men-txt{
    padding: 10px;
}

.kids-txt{
    padding: 10px;
}

.women-txt{
    padding: 10px;
}

/*
.categories {
     
    border-color: black;
}
.men-cat {
    display: flex;
    width: 400px;
    height: 400px;
}

.men-btn {
    position: flex;
    width: 100%;
    height: 100%;
    left: 30px;
    top: 552px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    border: none;
}

.men-txt {
    position: absolute;
    width: 55px;
    height: 14px;
    left: 203px;
    top: 511px;

    font-family: 'New Peninim MT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.kids-btn{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 556px;
    top: 552px;
    border-radius: 5px;
    border: none;
}

.kids-txt{
    position: absolute;
    width: 53px;
    height: 14px;
    left: 730px;
    top: 511px;

    font-family: 'New Peninim MT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

.women-btn{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1082px;
    top: 552px;
    border-radius: 5px;
    border: none;
}

.women-txt{
    position: absolute;
    width: 79px;
    height: 14px;
    left: 1242px;
    top: 511px;

    font-family: 'New Peninim MT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}
*/

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .categories {
        flex-direction: column;
        gap: 20px;
        padding: 50px;
    }
}