{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">
{% endblock  %}

{% block title %} Home Page{% endblock  %}


{% block template %}

<div class="banner">
    <div class="slideshow-container">
        <div class="slide1">
            <a href="">
            <img class="banner-img" src="{% static 'images/core/random_banner.jpg' %}" style="width:100%">
            </a>
        </div>
        <!-- additional images here -->
    </div>
</div>

<div class="categories">
    <div class="men-category">
        <div class="men-txt">
            For Men
        </div>
        <div class="men-btn">
            <a href="{%url 'for_men'%}">
                <img src="{% static 'images/core/for_men.png' %}" alt="men_category" width="400px" height="400px">
            </a>
        </div>
    </div>
    <div class="kids-category">
        <div class="kids-txt">
            For Kids
        </div>
        <div class="kids-btn">
            <a href="{% url 'for_kids' %}">
                <img src="{% static 'images/core/for_kids.png' %}" alt="kids_category" width="400px" height="400px">
            </a>
        </div>
    </div>
    <div class="women-category">
        <div class="women-txt">
            For Women
        </div>
        <div class="women-btn">
            <a href="{%url 'for_women'%}">
                <img src="{% static 'images/core/for_women.png' %}" alt="" width="400px" height="400px">
            </a>
        </div>
    </div>
</div>

{% endblock %}