{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/core/login.css' %}">
{% endblock style %}

{% block template %}

    <div class="container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="field">
                <div class="email">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                </div>
                <div class="field-box form-input">
                    {{ form.email }}
                </div>
            </div>
            <div class="field">
                <div class="password">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                </div>
                <div class="form-input">
                    {{ form.password }}
                </div>
            </div>
            <div class="submit">
                <button class="submit-btn" type="submit">Login</button >
            </div>
        </form>
    </div> 
{% endblock template %}