*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #262C38;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.logo{
    height: 40px;
    width: 100px;
}

.logo-btn{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.logo svg{
    height: 100%;
    width: 100%;
}

.searchbar {
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    height: 40px;
    width: 625px;
    display: flex;
}

.searchbar input {
    flex-grow: 1; 
    height: 100%;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    border-radius: 5px 0px 0px 5px;
    font-family: inherit;
}

.searchbox {
    height: 40px;
    width: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox button {
    height: 100%;
    width: 100%;
    background-color: #008354;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.cart {
    height: 40px;
    width: 40px;
    border: none;
}

.cart button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.cart svg {
    height: 100%;
    width: 100%;
}

.search-btn {
    height: 100%;
    width: 100%;
    border: none;
}